* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to top, #f0c50b 80%, white 20%);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 20px;
}
.image {
  width: 450px;
  height: 600px;
}
.text {
  width: 30%;
  text-align: center;
}
.text h1 {
  margin: 15px 0;
  font-size: 42px;
}
.text p {
  margin: 15px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}
.text a {
  color: black;
  text-underline-offset: 5px;
}
.text button {
  background-color: black;
  color: white;
  font-weight: 100;
  letter-spacing: 5px;
  width: 200px;
  height: 40px;
}
.text button:hover {
  cursor: pointer;
}
@media only screen and (max-width: 760px) {
  .image {
    width: 200px;
    height: 250px;
  }
  .text {
    width: auto;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}
